# Use this file as a template for your own .env via `doppler secrets substitute .env.sample > .env`

# Configures which modules `env_logger` should emit logs for.
# The value here enables log messages from the backend application as well as log messages emitted for incoming
# requests.
# See: https://docs.rs/env_logger/0.9.0/env_logger/#enabling-logging
RUST_LOG=

# This is the URL that SQLx will use to make connections to the Postgres database.
DATABASE_URL=postgres://dev:{{ .POSTGRES_PASSWORD }}@mainnet-cardano-db-sync:5432/{{ .POSTGRES_DATABASE }}
UTXO_DATABASE_URL=postgres://dev:{{ .POSTGRES_PASSWORD }}@mainnet-cardano-db-sync-utxo-only:5432/{{ .POSTGRES_DATABASE }}

WALLET_MNEMONIC="{{ .WALLET_MNEMONIC }}"
WALLET_PASSWORD="{{ .WALLET_PASSWORD }}"
