[package]
name = "hose"
version = "0.1.0"
edition = "2024"

[lib]
name = "hose"
path = "src/lib.rs"

[dependencies]
tokio = { version = "1.43.0", features = ["full"] }
tracing = "0.1.41"
thiserror = "2.0"
anyhow = "1.0"
reqwest = { version = "0.13.1", features = ["json"], default-features = false }

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.145"
serde_repr = "0.1.20"

hydrant = { git = "https://github.com/liqwid-labs/hydrant" }
polymer = { git = "https://github.com/liqwid-labs/polymer" }
pallas = { git = "https://github.com/liqwid-labs/pallas", branch = "txbuilder-pub", features = ["unstable"] }

num = "0.4.3"
num-bigint = "0.4.6"
num-rational = "0.4.2"

hex = "0.4.3"
minicbor = "2.1.3"
bip32 = "0.5.3"
bech32 = "0.11.1"
bip39 = "2.2.2"
cryptoxide = { version = "0.5.1", features = ["hmac", "pbkdf2", "sha2"], default-features = false }
ed25519-bip32 = "0.4.1"

[workspace]
members = ["example"]
