[package]
name = "hose"
version = "0.1.0"
edition = "2024"


[lib]
name = "hose"
path = "src/lib.rs"

[dependencies]
tokio = { version = "1.43.0", features = ["full"] }
tracing = "0.1.41"
thiserror = "2.0"
anyhow = "1.0"
serde = "1.0"
serde_json = "1.0.145"

hydrant = { git = "https://github.com/liqwid-labs/hydrant" }
polymer = { git = "https://github.com/liqwid-labs/polymer" }
pallas = { git = "https://github.com/liqwid-labs/pallas", branch = "txbuilder-pub", features = [
    "unstable",
] }

minicbor = "2.1.3"
hex = "0.4.3"
num-bigint = "0.4.6"
num-rational = "0.4.2"
num = "0.4.3"
reqwest = { version = "0.12.25", features = [
    "rustls-tls",
    "json",
], default-features = false, optional = true }
serde_repr = "0.1.20"
bip32 = "0.5.3"
bech32 = "0.11.1"
bip39 = "2.2.2"
cryptoxide = { version = "0.5.1", features = [
    "hmac",
    "pbkdf2",
    "sha2",
], default-features = false }
ed25519-bip32 = "0.4.1"

[features]
default = ["ogmios"]
ogmios = ["dep:reqwest"]

[workspace]
members = ["example"]
