[workspace]
resolver = "2"
members = [ "hose-primitives", "hose-submission", "hose-txbuilder" ]

[workspace.dependencies]
thiserror = "2.0"
anyhow = "1.0"
serde = "1.0"
serde_json = "1.0"
hex = "0.4.3"
minicbor = "0.25.1"
num-bigint = "0.4.6"
num = "0.4.3"
betterfrost_client = { git = "https://github.com/liqwid-labs/betterfrost" }
polymer = { git = "https://github.com/liqwid-labs/polymer" }
pallas = { version = "0.33.0", features = ["applying", "unstable"] }

[workspace.dependencies.tokio]
version = "1.43.0"
features = [ "macros", "rt-multi-thread", "signal",]
